.card{

  height: 100%;
  max-width: 340px;
  min-width: 335px;
  max-height: 340px;
  border-radius: 10px;
  position: relative;
margin: auto ;
  overflow: hidden;


  @media screen and (max-width: 415px){
    height: 255px;
  }
  @media screen and (max-width: 370px) {
    min-width: 325px;

  }

  h2{
    position: absolute ;
    bottom:0px;
    left: 0px;
    color: white;
    padding: 20px;



    font-size: 18px;
    line-height: 26px;
  }
  .radiant{
    width: 100%;
    max-width: 340px;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    @media screen and (max-width: 415px) {
      min-width: 325px;
    }
  }
  img{
    width: 100%;
    max-width: 340px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

  }
}
.card:hover{
  cursor: pointer;
}