footer
{

  height:200px;
  width: 100%;

  background-color: black;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 66px 0 29px 0;
  p{
    color: white;
    margin: auto;
    text-align: center;

  }
  img{
    margin: auto;
    margin-bottom: 49px;
    width: 122px;
  }
}