.gallery{

  width: 100%;
  max-width: 1240px;
  display: flex;
height: 829px;
  overflow-y: scroll;
 justify-content: space-around;

flex-wrap: wrap;
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;  /* Firefox */


gap: 50px 60px;
  padding: 50px  ;
  margin: 5px auto 50px auto;
  background-color: #F7F7F7;
  border-radius: 25px;
  @media screen and (max-width: 450px) {
    padding: 0;
background-color: white;
    gap: 20px;
    border-radius: 0px;
  }
}

/* scrollbar Chrome, safari + Opera

 */
.gallery::-webkit-scrollbar {
  display: none;
}